/* App */

body {
  background-color: paleturquoise;
}

.welcome {
  font-size: 3rem;
  color: blue;
  text-align: center;
}

.content {
  text-align: center;
}

.button {
  color: white;
  background-color: green; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align: center;
}